.eventTitle {
    font-weight: 600;
    font-size: 2em;
    padding: 0 1rem 0 0;
}
.entryForm {
    display: flex;
    flex-direction: column;
}
.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    text-align: center;
}

.buttonStyle {
    width: 20%;
    /* flex-direction: ; */
}
