
.title {
    font-weight: 600;
    font-size: 2em;
    padding: 0 1rem 0 0;
}

.elements1 h1{
    margin-bottom: 1em;
}
.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    text-align: center;
}
.buttonStyle {
    width: 20%;
    display: block;
    text-align: center;
    margin-top:5em;
}

.elements1 button {
    margin-top: 2em;
}

.labelName{
    color: #252e5e;
    font-size: 1.5em;
    text-align: left;
    display: flex;
    position: relative;
}

.storageInfo text{
    margin-top: 2em;
    font-size:2em;
    
}

.elements1 h2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3e52c4;
}

.elements1{
    display: flex;
    direction: row;
}


.elements1 h1{
    text-align: center;
    color: #252e5e;
}

.profileUserInfo{
    margin: 2em 4em 2em 4em;
}


